./log

cadastro/nome/progressivo/**/instantclient_19_22/**
cadastro/nome/progressivo/**/Resultados/**
cadastro/nome/progressivo/**/_pycache_/**
cadastro/nome/progressivo/**/__pycache__/**
cadastro/nome/progressivo/**/Dasboard/**
cadastro/nome/progressivo/**/*.png
cadastro/nome/progressivo/**/*.csv
cadastro/nome/progressivo/**/*.zip
cadastro/nome/progressivo/GENERIC_VAR/Variables/users.yaml

cadastro/nome/regressivo/ambiente/oracle/instantclient_19_22/**
cadastro/nome/regressivo/**/Resultados/**
cadastro/nome/regressivo/**/*.png
cadastro/nome/regressivo/**/*.csv
cadastro/nome/regressivo/**/*.zip
cadastro/nome/regressivo/dados/usuario.yaml
