
# Requirements needed for SeleniumLibrary development but not by end users.
# Creating releases has its own requirements listed in requirements-build.txt.
approvaltests == 8.4.1
pytest >= 6.0.2
robotframework-pabot >= 1.10.0


# Include normal dependencies from requirements.txt. Makes it possible to use
# requirements-dev.txt as a single requirement file in PyCharm and other IDEs.
-r requirements.txt
